* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}
/*Scrollbar*/
*::-webkit-scrollbar {
  width: 24px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #0cb8b6;
  border-radius: 70px;
  border: 3px solid #0cb8b6;
}

body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
    overflow: hidden;
    display: inline;
}
/*Loader */
#loading {
    height: 100vh;
    width: 100%;
    background: #fff url('img/Dual%20Ring-0.6s-107px.gif') no-repeat center;
    position: fixed;
    z-index: 9999999;
 
    
}
.header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0, 59, 70,0.6),rgba(0,59,70,0.6)),url(img/bg-banner.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}

.navbar:before{
    content: "";
    top: 0%;
    bottom: 0%;
    left: 0;
    right: 0;
    opacity: -3;
    z-index: -1;
    background: linear-gradient(rgba(28,74,90,0.4),rgba(28,74,90,0.4));
    transition: 500ms ease;
}
.nav-item a{
    color: #fff !important;
    font-weight: 400;
    font-size: 18px;
    padding-left: 15px !important;
    transition: all 0.5s;
}
.navbar-nav li:hover{
    border-bottom: 2px solid rgb(12,184,182);
}
#last-a-navbar{
    padding-right: 30px;
}
.navbar-expand-color{
    background-color: yellow !important;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(12,184,182)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar.scrolled{
    background-color: rgba(28,74,90, 0.9) !important;
}
.logo-title{
    font-size: 22px;
    color: #fff;

}

.header-section{
    width: 100%;
    height: inherit;
    color: white;
    text-align: center;
    position: relative;
}
.center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 47%;
    transform: translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.header-heading{
    word-spacing: 3px;
    letter-spacing: 4.0px;
    text-transform: uppercase;
    margin-bottom: 23px;
    color: white;
    animation: moveInLeft 1s ease-out;
    
    
}
#main-txt{
    font-weight: 700;
    font-size: 60px;
    text-shadow: 3px 3px rgba(0,0,0,1);
}
#sub-txt{
    font-weight: 350;
    font-size: 50px;
    text-shadow: 2px 2px rgba(0,0,0,1);
}
.header-para{
    letter-spacing: 1px;
    word-spacing: 1.5px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(166, 168, 170);
    text-transform: uppercase;
    animation: moveInRight 1s ease-out;
    margin-bottom: 55px;
}

/*Buttons*/
.header-buttons{
    margin: 15px 0;
}
.header-buttons a{
    border: 1px solid rgb(12,184,182);
    padding: 14px 42px;
    margin: 0 14px;
    outline: none;
    background-color: rgb(12,184,182);
    color: #fff;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.4;
    border-radius: 20px;
    text-align: center;
    transition: all 0.5s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}
.header-buttons a:hover{
    text-decoration: none;
    color: rgb(12,184,182);
    background:white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.8);
}
.emergency_button{
    background-color:rgb(221, 66, 66);
    border-radius: 5px;
    border: 1px solid rgb(221, 66, 66);
    transition: all 0.5s;
    animation: shaky 1s ease-out;
    
}
.emergency_button:hover{
    background-color:#fff;
    color: rgba(221,66,66);
    
}
/*Services Section */
.services-container{
    margin-top: 65px;
}
.services-heading{
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 50px;
    padding-bottom: 10px;
    letter-spacing: 1.3px;
}
.services-heading:after{
    display: block;
    height: 3px;
    background-color:rgb(12,184,182);
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}


.services-para{
    margin-top: 5px;
    margin-bottom: 50px;
    text-transform: uppercase;
    word-spacing: 1.2px;
    letter-spacing: 1.3px;
}
.shadow,
.subscription-wrapper {
    box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.1) !important
}
.services-icons{
    /*Change Color After*/
    color: rgb(12,184,182);

}
.card-heading{
    text-transform: uppercase;
    letter-spacing: 1px;
}
.services-card{
    margin-bottom: 40px;
    transition: all 0.3s;
    height: 400px;
}
.services-card:hover .services-icons
{
    color: white;
}
.services-card:hover{
    transform: scale(1.1);
    color: white;
    background-color: rgb(12,184,182);
}
/*Doctors Section */
.doctors-card{
    margin-bottom: 40px;
    position: relative;
    transition: all 0.5s;
    height: 530px;
}

.fab{
    margin-right: 30px;
    color: darkcyan;
    font-size: 20px;
}
.card-title{
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}
/*Book an Appointment Section */
.appointment-container{
   background: #5433FF;
background: -webkit-linear-gradient(to right, #A5FECB, #20BDFF, #5433FF);
background: linear-gradient(to right, #A5FECB, #20BDFF, #5433FF); 

    height: 180px;
    margin-top: 65px;
}
.appointment-content{
    padding-top: 63px;
}
.appointment-heading{
    letter-spacing: 1.1px;
    color: white;
    font-weight: 500;
}
.appointment-container a{
    padding: 1px 35px;
    border: 2px solid white;
    font-size: 26px;
    color: white;
    border-radius: 50px;
    outline: none;
    text-decoration: none;
    transition: 0.6s all;
}
.appointment-container a:hover{
    box-shadow: 0px 15px 39px 0px rgba(8, 18, 109, 0.9);
    background-color:rgb(12,184,182);
    color: white;
    border: 2px solid rgb(12,184,182);
}
.fa-calendar-alt{
    margin-left: 10px;
}

/*Counters Section */
.overlay{
    background: #24C6DC; 
background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  
background: linear-gradient(to right, #514A9D, #24C6DC); 


}

.counter-icons{
    color: white;
    font-size: 48px;
}

.counter{
    font-size: 45px;
    color: white;
    animation-duration: 3s;
    animation-delay: 0s;
    padding-top: 15px;
    margin-bottom: 0;
}
.count-title{
    font-size: 17px;
    color: white;
    text-transform: uppercase;
}
/*Appointment Form */
.space {
    margin-top: 40px;
}
.btn-form, .btn-form:hover, .btn-form:focus {
    background-color: #0cb8b6;
    color: #fff;
    border-radius: 0px;
    padding: 10px 20px;
}
.br-radius-zero {
    border-radius: 0px;
}
.form-control{
	height: 40px;
}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}

#sendmessage {
    color: green;
    border:1px solid green;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
	display:block;
}
/*Departments Section*/

.departments-heading{
    margin-bottom: 30px;
    text-transform: uppercase;
    font-size: 50px;
    padding-bottom: 10px;
    letter-spacing: 1.3px;
}
.departments-heading:after{
     display: block;
    height: 3px;
    background-color:rgb(12,184,182);
    content: "";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}
.departments-para{
    margin-top: 5px;
    margin-bottom: 50px;
    text-transform: uppercase;
    word-spacing: 1.2px;
    letter-spacing: 1.3px;
}
.departments-container{
    margin-top: 65px;
}
.departments-icons{
    font-size: 80px;
    text-align: center;
    color:rgb(12,184,182);
}
.departments-title{
    font-size: 23px;
    text-align: center;
    text-transform: uppercase;
}
.departments-cards{
    height: 270px;
    margin-bottom: 40px;    
}

.departments-cards:hover{
    transform: scale(1.1);
}


/*Carousel Section */
.carousel{
    margin: 80px 0;
    background-color: rgb(29, 34, 29);
}
.carousel-inner img{
    height: 600px;
}
.review-inner{
    height: 300px;
}
.carousel-caption{
    top: 50%;
    padding-top: 100px;
}
.review-para{
    font-size:20px;
}
.review-names{
    text-transform: uppercase;
}
/*Special */

#specialimg{
    width: 100%;
    height: 100%;
}
.half-txt{
    background: #2193b0;  /* fallback for old browsers */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 4em;

}
.first{
    padding-bottom: 60px;
}
.heading_special{
    text-transform: uppercase;
    font-size: 40px;
    color: white;
    line-height: 1.5;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 30px;
    letter-spacing: 2px;
}
.para-special{
    color: white;
}
.subicons{
    color: white;
    font-size: 50px;
    padding-bottom: 20px;
}
.subtextspecial{
    text-transform: uppercase;
    font-size: 25px;
    color: white;
    font-weight: 400;
    padding-bottom: 7px;
}
.half-img{
    padding: 0;
}
/*Footer*/
footer{
    background-color: #325c6a;
    color: white;
    margin-top: 65px;
}
.footer-area{
    padding: 30px 10px;
}
.footlist a{
    color: white;
    text-decoration: none;
    
}
.logo-area-footer{
    padding-right: 50px;
}
.footlist a:hover{
    color: black;
}
.footli{
    display: block;
    list-style: circle;
    font-size: 20px;
    letter-spacing: 1px;
    padding-top: 12px;
}


.footer-para{
    padding: 20px 0;
    margin-right: 20px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.footer-icons{
    font-size: 35px;
    color: white;
}
.quick-links{
    padding-left: 35px;
    
}
.link-header h2{
    font-size: 35px;
    
}
.adress-heading h2{
    font-size: 35px;
}
.adress-para{
    font-size:20px;
    letter-spacing: 1px;
    padding-top: 12px;
}
.eme{
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 20px;
}
.credits{
    background-color:darkcyan;
}
.credit-heading{
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 15px 0;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}
/*Scrollbar*/


/*Animations*/

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-140px);
    }
    70%{
        transform: translateX(20px);
    }
    100%{
        opacity: 1;
        transform: translate(0);

    }
}
@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(140px);
    }
    70%{
        transform: translateX(-20px);
    }
    100%{
        opacity: 1;
        transform: translate(0);

    }
}
@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    
    100%{
        opacity: 1;
        transform: translate(0);

    }
}
@keyframes shaky{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    30%{
        opacity: 0.3;
        transform: translateY(0);
    }
    60%{
        opacity: 0.6;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}

/*Primary Color #0cb8b6 */
/*Primary Color rgb(12,184,182)*/
/*Secondar Hover Color rgba(28,74,90,0.9)